*{
	box-sizing: border-box;
	margin:0;
	padding:0;

}
#logo{
	width: 15%;
}
#titulo{
	padding-top: 60px;
	font-size: 48px;
}
nav h3{
	font-size: 20px;
	color:white;
}
nav{
	background:#9621D1;
}
nav div{
	border-right: groove;
	border-color: white;
}
